.frame-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-steelblue);
}
.login-screen-inner {
  height: 1020px;
  width: 117px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.images-1-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.31);
}
.wrapper-images-1 {
  width: 73px;
  height: 58px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 335px;
  border-radius: var(--br-3xs);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.email {
  width: 85px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-item {
  height: 17px;
  width: 293px;
  position: relative;
}
.email-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.password {
  width: 85px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-inner {
  height: 17px;
  width: 293px;
  position: relative;
}
.frame-container,
.password-parent {
  display: flex;
  align-items: flex-start;
}
.password-parent {
  flex-direction: row;
  justify-content: center;
  row-gap: 20px;
}
.frame-container {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-38xl);
}
.buttonbase-primary-hower {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.906);
}
.wrapper-buttonbase-primary {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.value {
  position: absolute;
  width: calc(100% - 32px);
  top: 6px;
  left: 16px;
  font-size: var(--btn-text-size);
  letter-spacing: 0.75px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--button-text);
  color: var(--light-text-color);
  text-align: center;
  display: inline-block;
  height: 15px;
  z-index: 1;
}
.primary-small-hower {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 32px;
  width: 95px;
  position: relative;
}
.primary-button {
  width: 337px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-55xl);
  max-width: 100%;
}
.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-19xl) 130px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-smi);
}
.dont-have-an {
  margin: 0;
  width: 221px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.dont-have-an-account-wrapper {
  width: 741px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.create-student-account {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  white-space: pre-wrap;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.buttonbase-primary-hower1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.906);
}
.wrapper-buttonbase-primary1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.value1 {
  position: absolute;
  top: 6px;
  left: 16px;
  letter-spacing: 0.75px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 63px;
  height: 15px;
  min-width: 63px;
  z-index: 1;
}
.wrapper-buttonbase-primary-parent {
  height: 32px;
  flex: 1;
  position: relative;
}
.frame-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 69px 0 70px;
  font-size: var(--btn-text-size);
  color: var(--light-text-color);
  font-family: var(--button-text);
}
.create-student-account-parent {
  width: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 43px;
}
.create-pharmacist-account {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.buttonbase-primary-hower2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.906);
}
.wrapper-buttonbase-primary2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.value2 {
  position: absolute;
  top: 6px;
  left: 16px;
  letter-spacing: 0.75px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 63px;
  height: 15px;
  min-width: 63px;
  z-index: 1;
}
.button-base {
  height: 32px;
  width: 95px;
  position: relative;
}
.button-base-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--btn-text-size);
  color: var(--light-text-color);
  font-family: var(--button-text);
}
.create-pharmacist-account-parent {
  width: 259px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-14xl);
}
.frame-div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.login-screen-child,
.wrapper-images-1-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.wrapper-images-1-parent {
  align-self: stretch;
  align-items: flex-end;
  padding: 192px 0 0;
  position: relative;
  gap: var(--gap-76xl);
}
.login-screen-child {
  width: 766px;
  align-items: flex-start;
  padding: 49px 0 0;
}
.login-screen-item {
  height: 1020px;
  width: 109px;
  position: relative;
  background-color: var(--color-steelblue);
}
.login-screen {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  letter-spacing: normal;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--body-1);
}
@media screen and (max-width: 1025px) {
  .login-screen {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 975px) {
  .wrapper-images-1-parent {
    gap: 47px 95px;
    padding-top: 125px;
    box-sizing: border-box;
  }
  .login-screen-child {
    padding-top: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .frame-div {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .email-parent,
  .password-parent {
    flex-wrap: wrap;
  }
  .frame-container {
    gap: 28px 57px;
  }
  .frame-group {
    gap: 37px 74px;
  }
  .create-pharmacist-account,
  .create-student-account,
  .dont-have-an {
    font-size: var(--body-1-size);
  }
  .create-pharmacist-account-parent {
    gap: 16px 33px;
  }
  .wrapper-images-1-parent {
    gap: 24px 95px;
    padding-top: 81px;
    box-sizing: border-box;
  }
  .login-screen-child {
    padding-top: var(--padding-2xl);
    box-sizing: border-box;
  }
}
